---
interface Props {
    imageName?: string;
    imageDesc?: string;
    imageDate?: string;
}
const { imageDesc, imageName, imageDate } = Astro.props;
---

<div>
    <div class="flex flex-col gap-2">
        <p class="font-semibold">
            {imageDate}
        </p>
        <p>
            {imageDesc}
        </p>
    </div>
    <div class=" min-w-80 py-6">
        <img src={imageName} alt="doodle" class="w-max h-auto rounded-lg shadow-md" />
    </div>
</div>