---
// Component Imports
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import HeadBase from "../components/HeadBase.astro";
import DetailComp from "../components/DetailComp.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<content class="flex flex-col gap-20">
		<div class="flex flex-col gap-4">
			<p class="urlText">/about</p>
			<p class="text-4xl font-headLineFont">Me in 30s</p>
		</div>
		<img class="max-h-svh" src="/images/" />
		<div class="flex flex-col gap-4">
			<p>
				I enjoy diving into anything that sparks my curiosity, whether it's about design and technology or the random moments I encounter along the way.
			</p>
			<p>
				
			</p>
			<p>
				In my spare time, I love spending my time crafting by hand,
				traveling, watching movie or learn something new. Read more
				about <a class="bodyLink" href="/now">what I'm doing now</a>
			</p>
		</div>
	</content>
</BaseLayout>

