---
// Component Imports
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Trang Bui - About">
	<div class="flex flex-col gap-4">
		<p class="urlText">/about</p>
		<p class="text-4xl font-headLineFont">Me</p>
	</div>
	<img class="rounded items-start h-40 w-40" src="/profile.jpeg" />
	<div class="flex flex-col gap-paragraphGap">
		<p>
			test I enjoy diving into anything that sparks my curiosity, whether it's
			about design and technology or the random moments I encounter.
		</p>
		<p>
			My background was Multimedia Design. After few years working as
			Graphic Designer, doing Branding and Printed design, I found that I
			was more interested in Web and App development. I joined Senifi in
			2014, it was here that sparked my passion and inspired me to pursue
			a career as a Product Designer.
		</p>
		<p>
			Since making the career switch in 2017, I've worked for startups and
			worn many hats along the way, beyond just a Product Designer. I've
			tackled many problems and enjoy the journey of exploring the
			solutions, trying new things and learning as I go.
		</p>
		<p>
			Beside work, I like to travel to new places, watch a movie, or simply spending my time with family and friends. I'm learning to play an ukulele and try to spend at least 15' a day to pratice. More about the thing i'm up to. Check out my <a class="bodyLink" href="/now">/now</a> page.
		</p>
		<p>
			If you'd like to get in touch with
			me, my inbox is open for collaboration at <a
				class="bodyLink"
				target="_top"
				href="mailto:thuytrang0329@gmail.com"
				>thuytrang0329@gmail.com
			</a>
		</p>
		<p>Trang</p>
	</div>
</BaseLayout>
