---
// Component Imports
import BaseLayout from "../layouts/BaseLayout.astro";
import { getImages } from '../utils/getImages.js';
const imagePaths = getImages('public/images/draw');
const imageMapping = {
    "01.png": "",
    "02.png": "",
    "03.png": "",

}
// Normalize keys to lowercase mapping above
const mappingDescription = Object.keys(imageMapping).reduce((acc, key) => {
  acc[key.toLowerCase()] = imageMapping[key];
  return acc;
}, {});

// Function to get description by key (no need to normalize here)
function getDescriptionByKey(key) {
  const normalizedKey = key.toLowerCase();
  return mappingDescription[normalizedKey];
}


---
<BaseLayout pageTitle="Draw - Trang Bui">
	<div class="flex flex-col gap-4">
        <p class="urlText">/draw</p>
        <p class="text-4xl font-headLineFont">
            Draws
        </p>
        <p class="subText">Tool used: paper, pencil, and Procreate</p>
    </div>

	<div class="columns-2 mx-auto space-y-4">
		{imagePaths.map((src) => (
		  <img src={src} alt="draw with procreate" class="w-full h-auto rounded shadow-md border-slate-800 border" />
          <p class="font-urlFont">{getDescriptionByKey(src.split('/').pop())}</p> 
		))}
         <video class="h-full w-full rounded  border-slate-800 border" autoplay loop controls>
            <source
              src="/images/draw/06.mov"
              type="video/mp4"
            />
            Your browser does not support the video tag.
          </video>
	</div>
	  
</BaseLayout>