---
// Component Imports
import BaseLayout from "../layouts/BaseLayout.astro";
import { getImages } from '../utils/getImages.js';
const imagePaths = getImages();

---
<BaseLayout>
	<div class="grid grid-cols-1 md:grid-cols-3 gap-4">
		{imagePaths.map((src) => (
		  <img src={src} alt="Dynamic Image" class="w-full h-auto rounded-lg shadow-md" />
		))}
	  </div>
	  
</BaseLayout>