---
// Component Imports
import BaseLayout from "../layouts/BaseLayout.astro";
import InfoList from "../components/InfoList.astro";
---

<BaseLayout
    pageTitle="People and Blogs - Trang Bui"
>
    <div class="flex flex-col gap-4">
        <p class="urlText">/following</p>
        <p class="text-4xl font-headLineFont">
            People and Blogs that Im following
        </p>
    </div>
    <div class="flex flex-col gap-6">
        <InfoList
            postTitle="Milk, No Sugar"
            postDescription="Milk, No Sugar is a curated list of inspiring articles, photography, video and tales through the lens of Luis Luis Ouriach. He's currently a Desginer at Figma. I found his articles very informative."
            url="https://milknosugar.substack.com/"
        />
        <InfoList
            postTitle="Tiantian Xu"
            postDescription="Product Designer. She has a collection of really cool #100daysprojects that can inspire you to learn something new."
            url="https://medium.com/@tiantianxu"
        />
        <InfoList
            postTitle="People and Blogs"
            postDescription="Weekly newsletter series where interesting people talk about themselves and their blogs."
            url="https://peopleandblogs.com/"
        />
    </div>
</BaseLayout>
