---
// Component Imports
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  pageName="Trang Bui - Product Designer"
  canonicalLink="https://trangbui.me/"
  showBackButton={false}
  pageTitle="Trang Bui"
>
  <div class="flex flex-col gap-4">
    <p>Product designer focus on creating <a href="/portfolio/" class="typo-link text-light-heading dark:text-dark-heading">user experiences.</a>
    </p>
    <p>
      Curious about how things work and why they matter. Spending most of my
      time continuously learning and exploring things.
    </p>
  </div>
  <div class="flex flex-col gap-6">
    <div class="flex flex-col gap-1">
      <div>
        <a href="/portfolio/" class="typo-link un">Projects</a>
      </div>
      <div>
        <a href="/playground/" class="typo-link">Playground</a>
      </div>
      <div>
        <a href="/notes/" class="typo-link">Notes</a>
      </div>
    </div>
    <div class="flex flex-col gap-1">
      <div>
        <a href="/now/" class="typo-link">Now</a>
      </div>
      <div>
        <a href="/what-to-read/" class="typo-link">Read</a>
      </div>
      <!-- <div>
        <a href="/til/" class="typo-link">Today I learn</a>
      </div> -->
    </div>
  </div>
</BaseLayout>
