---
// Component Imports
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
    pageTitle="Trang Bui - Product Designer"
    canonicalLink="https://trangbui.me/"
>
    <div class="flex flex-col gap-3">
        <p>
            Crafting seamless user experiences through <span
                class="text-light-heading dark:text-dark-heading font-semibold"
                >problems discovery</span
            > and <span class="text-light-heading dark:text-dark-heading font-semibold">finding solutions</span>.
        </p>
        <p>
            Curious about how things work and why they matter. Spending most of my time to
            continuous learning and exploring things.
        </p>
    </div>
    <div class="flex flex-col gap-2">
        <div>
            <a href="/thissite/" class="typo-link">Projects</a>
        </div>
        <div>
            <a href="/thissite/" class="typo-link">Notes</a>
        </div>
        <div>
            <a href="/thissite/" class="typo-link">Playground</a>
        </div>
    </div>
</BaseLayout>

