---
// Component Imports
import BaseLayout from "../layouts/BaseLayout.astro";
import WorkExperience from "../components/WorkExperience.astro";
// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<BaseLayout>
	<!-- section-introduction -->
	<div class="flex flex-col gap-8">
		<div class="flex flex-col gap-6">
			<div class="urlText">/</div>
			<p class="text-2xl font-headLineFont">Product Designer who always curious about how things work and why.</p>
			<div class="flex flex-col gap-2">
				<div><a class="bodyLink" href="/about">/about me</a></div>
				<div><a class="bodyLink" href="/now">/now</a></div>
			</div>
		</div>
		<!-- <ul class="flex flex-col gap-1">
						<li><a class="bodyLink" href="/about">/about</a></li>
						<li><a class="bodyLink" href="/now">/now</a></li>
						<li><a class="bodyLink" href="/connect">/connect</a></li>
					</ul> -->
	</div>

	<!-- section-case studies -->
	<div class="flex flex-col gap-4">
		<!-- section title -->
		<p class="sectionTitle">.what I do</p>
		<p>
			Probems discovery and finding solution for it. Those
			<a href="/portfolio#caseStudies" class="bodyLink">case studies</a> will
			give you a better ideas of how I tackle design challenges and deliver
			solutions.
		</p>
	</div>

	 <!-- work experience -->
	 <div class="flex flex-col gap-4">
		<!-- section title -->
		<p class="sectionTitle">.where I've worked</p>
		<p>
			I have been designing for 8+ years, spending most of my time at startups and delivering products for global markets.
		</p>
	</div>

	<!-- section-side projects -->
	<div class="flex flex-col gap-3">
		<!-- section title -->
		<div class="flex flex-col gap-2">
			<p class="sectionTitle">.when I'm not working</p>
		</div>

		<!-- project block -->
		<div class="flex flex-col gap-2">
			<div>
				<a href="/thissite" class="bodyLink"> Build this site</a>
			</div>
			<div>
				<a href="/draw" class="bodyLink"> Draw</a>
			</div>
			<div>
				<a href="/doodle" class="bodyLink">Doodle</a>
			</div>
			<div>
				<a
					href="https://www.pinterest.com/gnartb88/me-my-garden/"
					target="_blank"
					rel="noopener noreferrer"
					class="bodyLink">Grow my plants</a
				>
			</div>
			<div>
				<a href="/places" class="bodyLink">Travel</a>
			</div>
			<div>
				<a
					href="https://www.imdb.com/user/ur14268874"
					target="_blank"
					rel="noopener noreferrer"
					class="bodyLink">Watch Movie</a
				>
			</div>
		</div>
	</div>

	<!-- section-connect -->
	<div class="flex flex-col gap-3">
		<!-- section title -->
		<div class="flex flex-col gap-2">
			<p class="sectionTitle">.connect</p>
		</div>

		<!-- connect links-->
		<div class="flex flex-row gap-2">
			<a href="" class="bodyLink"> Linked in</a><span
				class="text-xs opacity-30">·</span
			>
			<a href="" class="bodyLink"> Read CV</a><span
				class="text-xs opacity-30">·</span
			>
			<a href="https://bento.me/trang-bui" class="bodyLink"> Bento</a>
		</div>
	</div>
</BaseLayout>
