---
// Component Imports
import BaseLayout from "../layouts/BaseLayout.astro";
import WorkExperience from "../components/WorkExperience.astro";
// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<BaseLayout>
	<!-- section-introduction -->
	<div class="flex flex-col gap-sectionContentGap">
		<div class="text-xl">🚀</div>
		<div class="text-3xl font-headLineFont flex flex-col gap-4">
			<p>Product Designer who curious about how things work and why.</p>
			<p>Always learning something.</p>
		</div>
		<div class="flex flex-col gap-linkGap pt-3">
			<div><a class="bodyLink" href="/about">/about me</a></div>
			<div><a class="bodyLink" href="/now">/now</a></div>
		</div>
	</div>

	<!-- section-case studies -->
	<div class="flex flex-col gap-sectionContentGap">
		<!-- section title -->
		<p class="sectionTitle">.what I do</p>
		<p>
			Probems discovery and finding solution for it. Those
			<a href="/portfolio#caseStudies" class="bodyLink">case studies</a> will
			give you a better ideas of how I tackle design challenges and deliver
			solutions.
		</p>
	</div>

	<!-- work experience -->
	<div class="flex flex-col gap-sectionContentGap">
		<!-- section title -->
		<p class="sectionTitle">.where I've worked</p>
		<p>
			I have been designing for 8+ years, spending most of my time at
			startups and delivering products for global markets.
		</p>
	</div>

	<!-- section-side projects -->
	<div class="flex flex-col gap-sectionContentGap">
		<!-- section title -->
		<p class="sectionTitle">.when I'm not working</p>

		<!-- project block -->
		<div class="flex flex-col gap-linkGap">
			<div>
				<a href="/thissite" class="bodyLink"> Build this site</a>
			</div>
			<div>
				<a href="/draw" class="bodyLink"> Draw</a>
			</div>
			<div>
				<a href="/doodle" class="bodyLink">Doodle</a>
			</div>
			<div>
				<a
					href="https://www.pinterest.com/gnartb88/me-my-garden/"
					target="_blank"
					rel="noopener noreferrer"
					class="bodyLink">Grow my plants</a
				>
			</div>
			<div>
				<a href="/places" class="bodyLink">Travel</a>
			</div>
			<div>
				<a
					href="https://www.imdb.com/user/ur14268874"
					target="_blank"
					rel="noopener noreferrer"
					class="bodyLink">Watch Movie</a
				>
			</div>
		</div>
	</div>

	<!-- section-connect -->
	<div class="flex flex-col gap-sectionContentGap">
		<!-- section title -->
		<p class="sectionTitle">.connect</p>

		<!-- connect links-->
		<div class="flex flex-row gap-2 items-center">
			<a
				href="https://www.linkedin.com/in/thuytrangbui/"
				target="_blank"
				rel="noopener noreferrer"
				class="bodyLink">Linked in</a
			>
			<span class="text-xs opacity-30">·</span>
			<a
				href="https://read.cv/trang"
				target="_blank"
				rel="noopener noreferrer"
				class="bodyLink"
			>
				Read CV</a
			><span class="text-xs opacity-30">·</span>
			<a
				href="https://dribbble.com/trangbui"
				target="_blank"
				rel="noopener noreferrer"
				class="bodyLink">Dribbble</a
			>
		</div>
	</div>
</BaseLayout>
