---
// Component Imports
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Now - Trang Bui">
	<div class="flex flex-col gap-4">
		<p class="urlText">/now</p>
		<p class="text-4xl font-headLineFont">What I'm doing now</p>
		<p class="subText">Last update on 30 Nov 2024</p>
	</div>
	<div class="flex flex-col gap-24">
		<ul class="bodyParagraph list-disc list-outside gap-2 flex flex-col">
			<li>Taking a career break and will be back for work next year.</li>
			<li>Learning to play ukulele.</li>
			<li>Growing my plants.</li>
			<li>
				Thinking about building my own small digital garden after
				reading <a
					class="bodyLink"
					target="_blank"
					href="https://maggieappleton.com/garden-history"
					>A Brief History & Ethos of the Digital Garden</a
				> and <a class="bodyLink" href="https://tomcritchlow.com/wiki/"
					>Tom Critchlow wikifolder.</a>
			</li>
			<li>
				Reading <a
					class="bodyLink"
					target="_blank"
					href="https://www.goodreads.com/book/show/1303.The_48_Laws_of_Power"
					>The 48 Laws of Power</a>.
			</li>
			<li>Continue updating my design portfolo.</li>
		</ul>
		<div class="border-t border-t-slate-800 border-dashed pt-4">
			Inspired by <a
				class="bodyLink"
				target="_blank"
				href="https://sive.rs/">Derek Siver's</a
			> and his <a
				class="bodyLink"
				target="_blank"
				href="https://sive.rs/now2">now page</a
			>
		</div>
	</div>
</BaseLayout>
