---
// Component Imports
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
    pageName="Now - Trang Bui"
    canonicalLink="https://trangbui.me/now/"
    showBackButton={true}
    pageTitle="What I'm doing now"
    pageIntro="Last update on 09 Feb 2025"
    backTo="Index"
>
<div class="flex flex-col gap-20">
    <ul class="bodyParagraph list-disc list-outside gap-2 flex flex-col">
        <li>Learning to play ukulele.</li>
        <li>Growing my plants.</li>
        <li>
            Thinking about building my own small digital garden after
            reading <a
                class="typo-link"
                target="_blank"
                href="https://maggieappleton.com/garden-history"
                >A Brief History & Ethos of the Digital Garden</a
            > and <a class="typo-link" href="https://tomcritchlow.com/wiki/"
                >Tom Critchlow wikifolder.</a>
        </li>
        <li>
            Reading <a
                class="typo-link"
                target="_blank"
                href="https://www.goodreads.com/book/show/1303.The_48_Laws_of_Power"
                >The 48 Laws of Power</a>.
        </li>
        <li>Continue updating my design portfolo.</li>
    </ul>
    <div>· · ·</div>
    <div>
        Inspired by <a
            class="typo-link"
            target="_blank"
            href="https://sive.rs/">Derek Siver's</a
        > and his <a
            class="typo-link"
            target="_blank"
            href="https://sive.rs/now2">now page</a
        >
    </div>
</div>
</BaseLayout>

