---
// Component Imports
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  pageName="Now - Trang Bui"
  canonicalLink="https://trangbui.me/now/"
  showBackButton={true}
  pageTitle="What I'm doing now"
  pageIntro="Last update on 27 Jul 2025"
  backTo="Index"
>
  <div class="flex flex-col gap-20"></div>
  <div class="flex flex-col gap-6">
    <p>
      I've been at a new company for a little while, designing products
      again. It's been exciting in the way that new things often are—fresh
      problems to solve, new people to learn from, unfamiliar systems to
      navigate. Some days are energizing, others a bit more draining... But I do enjoy what im doing here.
    </p>
    <p>
      Looking forward to my next trip now, I keep dreaming about being back
      to the forest lately...
    </p>
    </div>
  </div>
</BaseLayout>
