---
// Component Imports
import BaseLayout from "../layouts/BaseLayout.astro";
import { getImages } from '../utils/getImages.js';
const imagePaths = getImages('public/images/places');
const imageMapping = {
    "01.png": "",
    "02.png": "",
    "03.png": "",

}
console.log(imagePaths);
// Normalize keys to lowercase mapping above
const mappingDescription = Object.keys(imageMapping).reduce((acc, key) => {
  acc[key.toLowerCase()] = imageMapping[key];
  return acc;
}, {});

// Function to get description by key (no need to normalize here)
function getDescriptionByKey(key) {
  const normalizedKey = key.toLowerCase();
  return mappingDescription[normalizedKey];
}


---
<BaseLayout>
	<div class="flex flex-col gap-4">
        <p class="urlText">/places</p>
        <p class="text-4xl font-headLineFont">
            Places I've been to
        </p>
    </div>

	<div class="columns-2 mx-auto space-y-4">
		{imagePaths.map((src) => (
		  <img src={src} alt="draw with procreate" class="w-full h-auto rounded shadow-md border-slate-800 border" />
          <p class="font-urlFont">{getDescriptionByKey(src.split('/').pop())}</p> 
		))}
	</div>
	  
</BaseLayout>