---
// Component Imports
import WorkExperience from "../components/WorkExperience.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import InfoList from "../components/InfoList.astro";
---

<BaseLayout
    pageTitle="Portfolio - Trang Bui"
    urlText="/portfolio"
    pageHeadline="Works I've done"
    canonicalLink="https://trangbui.me/portfolio/"
>
    <!-- projects -->
    <div class="flex flex-col gap-3">
        <div><p class="typo-subtlest bg-lime-200 inline-block">.projects</p></div>
        <div class="flex flex-col gap-6">
            <InfoList
                postTitle="Digital Lending web platforms"
                postDescription="P2P platforms for Investor and SMEs across multiple markets"
                url="https://validus.sg/"
            />
            <InfoList
                postTitle="Investor Mobile Application"
                postDescription="Browse live facilities available for investing and mange investments"
                url="https://apps.apple.com/us/app/validus-singapore/id1500364784"
            />
            <InfoList
                postTitle="DHF"
                postDescription="Farm diary management and inventory tracking"
                url="https://www.dhfplatforms.com/"
            />
            <InfoList
                postTitle="Snafu Records"
                postDescription="Portal & Website"
                url="https://www.snafurecords.com/"
            />
            <InfoList
                postTitle="BackCountry Navigator"
                postDescription="Outdoor navigation app that helps outdoor adventurers to find their way through the wilderness."
                url="https://play.google.com/store/apps/details?id=com.crittermap.backcountrynavigator.xe"
            />
            <p class="items-baseline gap-1 border-t border-t-slate-800 border-dashed pt-4">
                Some design screenshots are at
                <a class="typo-link" target="_blank" href="https://dribbble.com/trangbui"
                    >Dribbble
                </a> if it's more your thing
            </p>
        </div>
    </div>
    <!-- case studies -->
    <div id="caseStudies" class="flex flex-col gap-3">
        <div><p class="typo-subtlest bg-lime-200 inline-block">.case studies</p></div>
        <div class="flex flex-col gap-6">
            <p>
                Case studies for onboarding process below will take you to my old Framer site, which I used to showcase my works.
                I will move it to this site later. Access to that case studies
                requires a password. Please contact me if you wish to take a look at it.
            </p>
            <InfoList
                postTitle="Investment application"
                postDescription="Redesign mobile Investor mobile app with more features for better experience"
                url="/portfolio/investorapp"
            />
            <InfoList
                postTitle="Simplifying the long onboarding process"
                postDescription="Less steps for Customer and reduce manual works for Internal Team"
                url="https://trang.framer.website/onboarding"
            />
        </div>
    </div>
    <!-- work experience -->
    <div class="flex flex-col gap-4">
        <!-- section title -->
        <div><p class="typo-subtlest bg-lime-200 inline-block">.where I've worked</p></div>
        <div class="flex flex-col gap-12">
            <WorkExperience
                companyName="Validus Capital"
                roleDescription="Drive the end to end design process across Digital Lending products of all countries (Singapore, Viet Nam, Thai Land), including web and mobile applications."
                roleTitle="Senior/Product Design Lead (Regional)"
                fromTo="2019-2023"
            />
            <WorkExperience
                companyName="NashTech Global"
                roleDescription="Design career portal that help candidates to search, apply for job easily and showcasing the company's work-life culture."
                roleTitle="UX/UI Designer"
                fromTo="2017"
            />
            <WorkExperience
                companyName="Sentifi AG"
                roleDescription="Worked on widgets that help Investor to identify outliers and new investment opportunities, spot risks and monitor trends."
                roleTitle="Digittal Designer"
                fromTo="2014-2017"
            />
            <p class="border-t border-t-slate-800 border-dashed pt-4">
                More detail at <a class="typo-link" target="_blank" href="https://read.cv/trang"
                    >read.cv/trang</a
                >
            </p>
        </div>
    </div>
</BaseLayout>
