---
// Component Imports
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
	pageTitle="This site - Trang Bui"
	urlText="/thissite"
	pageHeadline="How I buid it"
	canonicalLink="https://trangbui.me/thissite/"
	
>
	<div class="flex flex-col gap-pGap typo-body ">
		<div class="flex flex-col gap-pGap dark:text-dark-subtle">
		<p class="font-sbody">This site is probably version 8, and definitely not the last.</p>
		<p>
			I've tried Notion, Webflow, Supersite, Framer and more... but I've
			always loved the idea to build my sites from scratch. I have some
			knowledge about HTML and CSS, just enough to collaborate effectively
			with developers. And after stumbled upon DeadSimpleSites, I felt
			inspired to dive in and create something similar for me. Simple,
			intuitive and easy to build - perfect for non-code designer.
		</p>
		<p>
			I drew inspiration from the links below and hope they inspire you as
			well, if you decide to build something similar 🚀.
		</p>
		</div>
		<div class="flex flex-col gap-2">
			<p>
				<a class="typo-link" target="_blank" href="https://deadsimplesites.com/"
					>Dead Simple Sites</a
				>
			</p>
			<p>
				<a class="typo-link" target="_blank" href="https://blogscroll.com/">Blogscroll</a
				>
			</p>
			<p>
				<a class="typo-link" target="_blank" href="https://samking.studio/">Sam King</a>
			</p>
			<p>
				<a class="typo-link" target="_blank" href="https://www.simonausterberry.co.uk/"
					>Simon</a
				>
			</p>
			<p>
				<a class="typo-link" target="_blank" href="https://dominikhofer.me/"
					>Dominik Hofer</a
				>
			</p>
			<p>
				<a class="typo-link" target="_blank" href="https://www.petermekhaeil.com/"
					>Peter Mekhaeil</a
				>
			</p>
		</div>
		<p class="dark:text-dark-subtle">
			I built this site using Astro and Tailwind, it's hosted on GitHub.
		</p>
	</div>
</BaseLayout>
