---
// Component Imports
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import HeadBase from "../components/HeadBase.astro";
import DetailComp from "../components/DetailComp.astro";

---

<html lang="en">
	<HeadBase />
	<body class="mx-auto max-w-xl p-6 pt-4 md:pt-6 bodyParagraph bg-zinc-900">
		<container class="flex flex-col gap-20" r>
			<Header />
			<content class="flex flex-col gap-20">
				<div class="flex flex-col gap-4">
					<p class="urlText">/now</p>
					<p class="text-4xl font-headLineFont">
						What I'm doing now
					</p>
					<p class="subText">Last update on 30 Nov 2024</p>
				</div>
				<div>
					inspired by <a class="bodyLink" href="https://sive.rs/"
						>Derek Siver's</a
					> and his <a class="bodyLink" href="https://sive.rs/now2"
						>now page</a
					> , this page is a summary of what's going on with my life. If
					you have your own site, you can make one too.
				</div>
				<div>
					@ Chiang Mai, Thai Lan.
				</div>
			</content>
			<Footer />
		</container>
	</body>
</html>
