---
// Component Imports
import BaseLayout from "../layouts/BaseLayout.astro";
import DetailComp from "../components/DetailComp.astro";
---

<BaseLayout>
	<div class="flex flex-col gap-4">
		<p class="urlText">/this site</p>
		<p class="text-4xl font-headLineFont">How I build it</p>
	</div>
	<div class="flex flex-col gap-paragraphGap bodyParagraph">
		<p>This site may be a version 8th and definately not my last change.</p>
		<p>
			I've tried Notion, Webflow, Supersite, Framer and more... but always
			love the idead to build my self a personal sites from scratch. I
			have a little bit knowledge about HTML and CSS, just enough to be
			able working with developer only. And after running into
			DeadSimpleSite, I decided to dive in and wanted to build something
			similar for me. Simple, not too complicated for non-code designer.
		</p>
		<p>I drew inspiration from the links below and hope they inspire you as well, if you decide to build something similar.</p>
		<div class="flex flex-col gap-2">
			<p>
				<a class="bodyLink" href="https://deadsimplesites.com/">Dead Simple Sites</a>
			</p>
			<p>
				<a class="bodyLink" href="https://samking.studio/">Sam King</a>
			</p>
			<p>
				<a class="bodyLink" href="https://www.simonausterberry.co.uk/">Simon</a>
			</p>
			<p>
				<a class="bodyLink" href="https://dominikhofer.me/">Dominik Hofer</a>
			</p>
		</div>
	</div>
</BaseLayout>
