---
// Component Imports
import BaseLayout from "../layouts/BaseLayout.astro";
import NoteList from "../components/NoteList.astro";

---

<BaseLayout
    pageName="Today I learn - Trang Bui"
    canonicalLink="https://trangbui.me/til/"
    backTo="Index"
    showBackButton={true}
    pageTitle="Today I learn"
    pageIntro="Useful knowledge"
>
<div class="flex flex-col gap-2">
   
</div>
</BaseLayout>
