---
// Component Imports
import BaseLayout from "../layouts/BaseLayout.astro";
import DetailComp from "../components/DetailComp.astro";
---

<BaseLayout>
    <div class="flex flex-col gap-4">
        <p class="urlText">/til</p>
        <p class="text-4xl font-headLineFont">Random things I learn today</p>
    </div>
    <DetailComp
        postTitle="Pinterest Masonry Grid Layout"
        postDescription="Display your photos/images in gallery, random height (pinterest layout), with Tailwind CSS"
        url="https://sabinbaniya.hashnode.dev/pinterest-masonry-grid-layout-with-tailwind-css-unsplash-api"
        date="07 Dec, 2024"
    />
    <DetailComp
    postTitle="Portfolios: Prioritise pixels over presentations"
    postDescription=""
    url="https://read.cv/disco_lu/pixels-over-portfolios"
    date="06 Dec, 2024"
/>
    
</BaseLayout>
