---
interface Props {
    postTitle?: string;
    url?: string;
    postDescription?: string;
    date?: string ;
}
const { postTitle, url, postDescription, date } = Astro.props;
---


    <ul class="flex flex-col gap-1">
        <li class=" text-subColor text-subFontSize font-urlFont">
            {date}
        </li>
        <li>
            <a 
            target="_blank"
            rel="noopener noreferrer"
            href={url} class="bodyLink">{postTitle}</a>
        </li>
        <li class="text-subParagraphColor">
            {postDescription}
        </li>
        
    </ul>

