
<footer class="flex flex-row items-end gap-1 text-left text-sm text-light-subtle mt-20 mb-6">
	<div class="flex flex-col gap-1">
		<p>The expert at anything was once a beginner</p>
	</div>
    <nav class="flex grow items-center justify-end">
		<p>.2025</p>
	</nav>
</footer>