---
import HeaderItem from "./HeaderItem.astro";
---


<footer class="flex flex-row items-center gap-1 text-left text-xs text-slate-500">
	<div>@2024 and continue updating...</div>
    <nav class="flex grow items-center justify-end gap-1 font-sans text-subFontSize md:gap-6">
		<HeaderItem headmenu="/read.cv" url="https://read.cv/trang"></HeaderItem>
		<HeaderItem headmenu="/things I learned" url="/til"></HeaderItem>
	</nav>
</footer>