---
import HeaderItem from "./HeaderItem.astro";
---


<header class="flex items-center ">
	<h1 class="text-md whitespace-nowrap font-bold md:text-lg">Trang Bui</h1>
	
	<nav class="flex grow items-center justify-end gap-1 font-sans text-sm md:gap-4">
		<HeaderItem headmenu="about" href="/about"></HeaderItem>
		<HeaderItem headmenu="works" href="/works"></HeaderItem>
		<HeaderItem headmenu="projects" href="/projects"></HeaderItem>
		<HeaderItem headmenu="things I learned" href="/til"></HeaderItem>
	</nav>
</header>