---
import HeaderItem from "./HeaderItem.astro";
import ThemeIcon from "./ThemeIcon.astro";
---


<header class="flex items-center">
	<a href="/" class="whitespace-nowrap font-medium text-black dark:text-white">Trang Bui</a>
	<nav class="flex grow items-center justify-end gap-6 text-sm md:gap-8">
		<HeaderItem headmenu="/following" url="/following/"></HeaderItem>
		<ThemeIcon />
	</nav>
</header>