---
interface Props {
    headmenu: string;
}
const { headmenu } = Astro.props;
---

<a
    class="inline-flex rounded-sm p-2 transition-[background-color] hover:bg-gray-100 active:bg-gray-200"
    href="/"
    >{headmenu}
</a>
