---
import HeaderItem from "./HeaderItem.astro";
import ThemeIcon from "./ThemeIcon.astro";

export interface Props {
	backTo?: string;
	showBackButton?: boolean;
	isItalic?: boolean;
}

const { backTo, showBackButton = false, isItalic=true } = Astro.props;

// Calculate the parent URL
const currentPath = Astro.url.pathname.replace(/\/$/, ""); // Removes trailing slash
const parentPath = currentPath.substring(0, currentPath.lastIndexOf("/")) || "/"; // Parent folder or root
---

<header class="items-center sticky top-8 bg-light-background dark:bg-dark-background">
	<div class="flex flex-row">
		<a href={parentPath} class={`whitespace-nowrap font-semibold text-black dark:text-dark-body typo-sbody ${isItalic ? "italic" : ""}`}>
			{showBackButton && <img class="inline h-3 w-3" src="/back-index.svg" />}
			{backTo}
		</a>
		<nav class="flex grow items-center justify-end gap-6 text-sm md:gap-8">
			<!-- <HeaderItem headmenu="/portfolio" url="/portfolio/"></HeaderItem> -->
			<ThemeIcon/>
		</nav>
	</div>
	
</header>
