---
import HeaderItem from "./HeaderItem.astro";
---


<header class="flex items-center">
	<a href="/" class="whitespace-nowrap text-2xl font-bold text-black">tb</a>
	<nav class="flex grow items-center justify-end gap-6 text-sm md:gap-8">
		<HeaderItem headmenu="/portfolio" url="/portfolio/"></HeaderItem>
		<HeaderItem headmenu="/following" url="/following/"></HeaderItem>
	</nav>
</header>