---
import HeaderItem from "./HeaderItem.astro";
---


<header class="flex items-center">
	<a href="/" class="whitespace-nowrap font-bold md:text-2xl">tb</a>
	<nav class="flex grow items-center justify-end gap-6 font-sans text-sm md:gap-8">
		<HeaderItem headmenu="/portfolio" url="/portfolio"></HeaderItem>
		<HeaderItem headmenu="/things I learn" url="/til"></HeaderItem>
	</nav>
</header>