---
interface Props {
    postTitle?: string;
    url?: string;
    postDescription?: string;
    date?: string ;
}
const { postTitle, url, postDescription, date } = Astro.props;
---

    <ul class="flex flex-col gap-1">
        <li class=" text-light-subtle">
            {date}
        </li>

        <li>
            <a 
            target="_blank"
            href={url} class="typo-link font-normal text-black">{postTitle}
            </a>
        </li>

        <li>
            {postDescription}
        </li>
        
    </ul>

