---
interface MenuItem {
  id: string;
  name: string;
}

export interface Props {
  items: MenuItem[];
}

const { items } = Astro.props;
---

<aside class="w-52 hidden lg:block fixed items-center top-16 right-4 p-6 overflow-auto text-dsubColor text-subFontSize">
  <nav>
    <ul class="space-y-2">
      {items.map((item) => (
        <li>
          <a href={`#${item.id}`} class=" hover:underline">
            {item.name}
          </a>
        </li>
      ))}
    </ul>
  </nav>
</aside>
