<!-- ---
interface Props {
   videoPath: string;
   padding?: string;
}

const { videoPath, padding = "p-0" } = Astro.props;
const videos = import.meta.glob('/src/assets/investorapp/*.{mp4,webm}', { eager: true });


// Ensure the video path exists and is a string
const videoSrc = typeof videos[videoPath] === 'string' ? videos[videoPath] : null;

if (!videoSrc) throw new Error(`"${videoPath}" does not exist in glob: "src/assets/investorapp/*.{mp4,webm}"`);

---
<div class={`card ${padding}`}>
    <video controls>
        <source src={videoSrc} type="video/mp4" />
    </video>
</div> -->
