---
interface Props {
    companyName?: string;
    roleTitle?: string;
    roleDescription?: string;
    fromTo?: string;
}
const { companyName, roleTitle, roleDescription, fromTo } = Astro.props;
---

<div class="flex flex-col gap-1">
    <p class="text-base font-semibold">
        {companyName}
    </p>

    <p>
        {roleTitle}
        <span class="text-xs opacity-80"> | </span>
        {fromTo}
    </p>

    <p class="typo-body py-2">
        {roleDescription}
    </p>
</div>
