
.textHlight {
  text-decoration: underline;
  text-decoration-color: #d9f99d;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 0.5em;
  text-underline-offset: -0.20em;


}

.dark-textHlight {
  text-decoration: underline;
  text-decoration-color: #3f6212;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 0.5em;
  text-underline-offset: -0.20em;


}

@font-face {
  font-family: 'Aritaburi';
  src: url('/fonts/AritaBuriKR-HairLine.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aritaburi';
  src: url('/fonts/AritaBuriKR-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aritaburi';
  src: url('/fonts/AritaBuriKR-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aritaburi';
  src: url('/fonts/AritaBuriKR-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Aritaburi';
  src: url('/fonts/AritaBuriKR-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}