
.textHlight {
  text-decoration: underline;
  text-decoration-color: #d9f99d;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 0.5em;
  text-underline-offset: -0.20em;


}

.dark-textHlight {
  text-decoration: underline;
  text-decoration-color: #111827;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 0.5em;
  text-underline-offset: -0.20em;


}

@font-face {
  font-family: 'Aritaburi';
  src: url('/fonts/AritaBuriKR-HairLine.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aritaburi';
  src: url('/fonts/AritaBuriKR-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aritaburi';
  src: url('/fonts/AritaBuriKR-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aritaburi';
  src: url('/fonts/AritaBuriKR-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Aritaburi';
  src: url('/fonts/AritaBuriKR-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}