---
// Component Imports
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import HeadBase from "../components/HeadBase.astro";

export interface Props {
	pageTitle: string;
	pageHeadline?: string;
	canonicalLink?: string;
	backTo?: string;
}

const { pageTitle, pageHeadline, canonicalLink, backTo } = Astro.props;
---

<html lang="en">
	<HeadBase pageTitle={pageTitle} canonical={canonicalLink} />
	<body
		id="top"
		class="flex flex-col min-h-screen mx-auto max-w-xl p-6
		bg-light-background
		selection:bg-lime-400
		selection:text-black
		text-light-body
		text-left typo-sbody
		dark:bg-dark-background
		dark:selection:bg-zinc-800
		dark:selection:text-dark-body
		dark:text-dark-body"
	>
		<container class="flex flex-grow flex-col pt-24 gap-6">
			<Header />
			<content class="flex flex-col gap-20">
				<!-- page title and navigation -->
				<div class="flex flex-col gap-8">
					<a href="">index</a>
					{pageHeadline && <p class="text-3xl text-light-heading dark:text-dark-heading font-heading">{pageHeadline}</p>}
					
				</div>
				<!-- page content -->
				<slot />
			</content>
			<Footer />
		</container>
	</body>
</html>
