---
// Component Imports
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import HeadBase from "../components/HeadBase.astro";

export interface Props {
  pageTitle: string;
}

const { pageTitle } = Astro.props;
---

<html lang="en">
	<HeadBase pageTitle={pageTitle}/>
	<body id="top"
		class="mx-auto max-w-xl p-6 pt-16 pb-16 text-left text-bodyColor selection:bg-lime-400 selection:text-black md:pt-16 bodyParagraph bg-bgColor flex flex-col min-h-screen"
	>
		<container class="flex flex-grow flex-col gap-24">
			<Header />
			<content class="flex flex-grow flex-col gap-16">
				<slot />
			</content>
			<Footer />
		</container>
	</body>
</html>
