---
// Component Imports
import HeadBase from "../components/HeadBase.astro";
import Header from "../components/Header.astro";

export interface Props {
    pageName: string;
    blogTitle?: string;
    headDescription?: string;
    canonicalLink?: string;
    pageTitle?: string;
    showBackButton?: boolean;
}

const { pageName, blogTitle, headDescription, canonicalLink, pageTitle, showBackButton } =
    Astro.props;
---

<html lang="en">
    <HeadBase pageName={pageName} canonical={canonicalLink} />
    <body
        id="top"
        class="mx-auto max-w-2xl p-6 md:pt-6 flex flex-col min-h-screen
        text-left
        selection:bg-lime-400
        bg-light-background
        dark:bg-dark-background
        dark:text-dark-body"
    >
        <div class="flex flex-col typo-body text-light-body dark:text-dark-body pt-24">
            <Header />
            <slot />
            </div>
        </div>
    </body>
</html>
