---
// Component Imports
import HeadBase from "../components/HeadBase.astro";

export interface Props {
    pageTitle: string;
    blogTitle: string;
    headDescription: string;
}

const { pageTitle, blogTitle, headDescription } = Astro.props;
---

<html lang="en">
    <HeadBase pageTitle={pageTitle} />
    <body
        id="top"
        class="mx-auto max-w-xl p-6 pt-16 pb-16 text-left text-dbodyColor selection:bg-lime-400 md:pt-16 bg-aBgColor flex flex-col min-h-screen"
    >
        <container class="flex flex-col gap-24 articleBodyParagraph">
            <content class="flex flex-col gap-16">
                <div><a class="bodyLink" href="/"> back</a></div>
                <div class="flex flex-grow flex-col gap-2">
                    <p class="text-xl articleHead">{blogTitle}</p>
                    <p class="articleSubParagraph">{headDescription}</p>
                </div>
                <slot />
            </content>
        </container>
    </body>
</html>
