---
// Component Imports
import HeadBase from "../components/HeadBase.astro";

export interface Props {
    pageTitle: string;
    blogTitle?: string;
    headDescription?: string;
    canonicalLink?: string;
}

const { pageTitle, blogTitle, headDescription, canonicalLink } = Astro.props;
---


<html lang="en">
    <HeadBase pageTitle={pageTitle} canonical={canonicalLink} />
    <body
        id="top"
        class="mx-auto max-w-2xl p-6 pt-16 pb-16 text-left text-dbodyColor selection:bg-lime-400 md:pt-16 bg-aBgColor flex flex-col min-h-screen"
    >
        <container class="flex flex-col gap-24 articleBodyParagraph">
            <content class="flex flex-col gap-16">
                <div class="w-7 h-7">
                    <a class="group" href="/portfolio">
                        <img class="w-7 h-7 group-hover:hidden" src="/back.svg" />
                        <img class="w-7 h-7 hidden group-hover:block" src="/back-hover.svg" />
                    </a>
                </div>
                {
                    (blogTitle || headDescription) && (
                        <div class="flex flex-col gap-2">
                            {blogTitle && <p class="text-xl articleHead">{blogTitle}</p>}
                            {headDescription && (
                                <p class="articleSubParagraph">{headDescription}</p>
                            )}
                        </div>
                    )
                }

                <slot />
            </content>
        </container>
    </body>
</html>
