---
import BlogLayout from "../../layouts/BlogLayout.astro";
import TableContent from "../../components/TableContent.astro";
import ImageCard from "../../components/ImageCard.astro";
import VideoCard from "../../components/VideoCard.astro";

const menuItems = [
    { id: "intro", name: "Intro" },
    { id: "problems", name: "Problems" },
    { id: "finalsolutions", name: "Final solutions" },
    { id: "keydeliver", name: "Key deliver" },
    {
        id: "impact",
        name: "Impact",
        children: [
            { id: "impact1", name: "Impact 1" },
            { id: "impact2", name: "Impact 2" },
        ],
    },
    { id: "Process", name: "Process" },
];
---

<BlogLayout
    pageTitle="Investor App - Trang Bui"
    canonicalLink="https://trangbui.me/portfolio/investorapp/"
>
    <!-- case studies content -->
    <!-- <div class="border-t border-dashed"></div> -->
    <!-- Sec 1: Overview -->
    <!-- <TableContent items={menuItems}/> -->
    <div class="flex flex-col gap-20">
        <!-- intro -->
        <div id="intro" class="flex flex-col gap-aSectionContentGap">
            <p class="text-xl font-semibold my-2">Investor App Revamp</p>
            <div class="flex flex-col gap-paragraphGap">
                <div class="p-4 rounded bg-green-50 flex flex-col gap-2">
                    <p class="text-green-600 font-bold">TL;DR</p>
                    <p>
                        I led the end-to-end design of the Investor App, addressing high churn rate
                        due to an unfriendly interface and lack of important features. The revamped
                        app introduced enhanced functionality, and a new design system for
                        consistency. Key outcomes: improved user experience, reduced manual workload
                        for internal teams, and got positive customer feedback.
                    </p>
                </div>
                <p>
                    Validus Investor is a mobile application for accredited and institutional
                    investors to monitors portfolios, views listed facilities from borrower (Small
                    and Medium Enterprises - SMEs), and makes investments.
                </p>
                <p>
                    <span class="font-semibold">I led the design of this project</span> from doing research
                    to designing and implementation. The app was improved the navigation with intuitive
                    features for seamless investing on the go.
                </p>

                <div class="flex flex-row gap-6 pt-5">
                    <div class="flex-1">
                        <p class="typo-subtlest text-light-subtlest">Role</p>
                        <p>Lead Designer</p>
                    </div>
                    <div class="flex-1">
                        <p class="typo-subtlest text-light-subtlest">Duration</p>
                        <p>6 months</p>
                    </div>
                    <div class="flex-1">
                        <p class="typo-subtlest text-light-subtlest">Market</p>
                        <p>Singapore</p>
                    </div>
                </div>
                <ImageCard
                    imagePath="/src/assets/investorapp/final.png"
                    altText="Screenshot of final app design"
                    padding="py-2"
                />
            </div>
        </div>

        <!-- problems -->
        <div id="problems" class="flex flex-col gap-aSectionContentGap">
            <p class="typo-heading-medium">Problems</p>
            <div class="flex flex-col gap-paragraphGap">
                <p>
                    High churn rate. Most of customer install the app but discontinue using it due
                    to the <span class="typo-red">unfriendly interface</span> and <span
                        class="typo-red">lack of essential functionalities</span
                    > for them to browse new facilities, make funds, and track their portfolio effectively.
                </p>
                <p>
                    Whenever a new facility was listed on the market, either the Investor had to use
                    the web platform or request assistance from the Investor Relations Team to
                    create a fund. This process <span class="typo-red">required manual effort</span>
                    from the internal team and caused <span class="typo-red">inconvenience</span> for
                    investors.
                </p>
            </div>
        </div>

        <!-- solution -->
        <div id="finalsolutions" class="flex flex-col gap-aSectionContentGap">
            <p class="typo-heading-medium">Final Solution</p>
            <div class="flex flex-col gap-paragraphGap">
                <p>
                    Refresh the app by <span class="textHlight"
                        >creating new and engaging interface</span
                    >. The old design was no longer reflects Validus's brand, therefore, to set a
                    standard design, maintain the consistency and manage it at scale, we decided to
                    create a Design System along with the app designs.
                </p>
                <div class="flex flex-col gap-2">
                    <p>
                        <span class="textHlight">Add essential features</span> to the app to enhance
                        its functionality and provide more insights for Investor.
                    </p>
                </div>
            </div>
        </div>

        <!-- deliver -->
        <div id="keydeliver" class="flex flex-col gap-aSectionContentGap">
            <p class="typo-heading-medium">Key deliver</p>
            <ul class="flex flex-col gap-1 list-disc list-inside">
                <li>Conducted User Research, collect User Feedback</li>
                <li>Released Investor App version 2</li>
                <li>Created Validus Mobile Design system</li>
            </ul>
        </div>

        <div id="impact" class="flex flex-col gap-aSectionContentGap">
            <p class="typo-heading-medium">Impact</p>
            <div class="flex flex-col gap-paragraphGap">
                <p>
                    New app received good feedback from Customer, <span class="textHlight"
                        >improved their experience</span
                    > with Validus products. Now Investor can easily make fund for new facilities, search
                    their funds and keep track of the repayment. Therefore, <span class="textHlight"
                        >reduce manual works</span
                    > for our internal teams.
                </p>

                <p>
                    The user study conducted during the app's rebuild provided valuable insights
                    into customer pain points and expectations, helped the company's management to
                    see <span class="textHlight">the importance of doing User Research</span>.
                </p>
            </div>
        </div>
    </div>

    <div class="border-t border-dashed"></div>
    <!-- Sec 2: define problems -->
    <div class="flex flex-col gap-20">
        <div class="text-center typo-subtlest text-light-subtlest">Research, Define problems</div>
        <!-- review existing product -->
        <div class="flex flex-col gap-aSectionContentGap">
            <p class="typo-heading-medium">Review existing product</p>
            <div class="flex flex-col gap-paragraphGap">
                <p>
                    Within a team consisting of the Product Manager and myself, we reviewed the
                    existing app by putting our review note and user feedback on the screenshots
                    taken from the mobile app.
                </p>
                <ImageCard
                    imagePath="/src/assets/investorapp/old-review.png"
                    altText="Old app design review in Figma"
                    padding="py-2"
                />
                <p>
                    After the review, we listed down all the issues, put them into groups, and see
                    where we could improve the overall experience of the app.
                </p>
            </div>
        </div>
        <!-- user research -->
        <div class="flex flex-col gap-aSectionContentGap">
            <p class="typo-heading-medium">User research - Test ideas and solution</p>
            <div class="flex flex-col gap-paragraphGap">
                <p>
                    We did few brain storming sessions and quickly came up with some concepts and
                    ideas. To verify our new design solutions, and deeply understand our customer
                    pain points and needs, we conducted a User Study with 12 Investors who most
                    actively used the platform and the app, accepted our invitation to join the User
                    Study.
                </p>

                <p>
                    We combined a few methods for this research including <span
                        class="font-semibold">Usability Testing</span
                    > and <span class="font-semibold">Qualitative Interview</span>. The goal is to
                    verify our draft design solutions and uncover any new problems.
                </p>
                <!-- <p>Rsearch plan</p> -->

                <p class="mt-12 textHlight">📌 Key insights from the Study</p>
                <div class="flex flex-col gap-paragraphGap">
                    <p>
                        <span class="font-semibold">A. Lack of visual:</span> Customer found it easier
                        to navigate around the app with new design, compared to the existing one, however,
                        the
                        <span class="typo-red">new interface has not yet engaged them</span>.
                    </p>
                    <div class="flex flex-col gap-2">
                        <p>
                            <span class="font-semibold"
                                >B. Missing information, features & instruction:</span
                            > Although we already incorporated numerous new features into the wireframe
                            prototype, during the User Research, Investor still <span
                                class="typo-red">ask for few more features</span
                            > that was important to them:
                        </p>
                        <ul class="flex flex-col gap-1 list-disc list-outside pl-3">
                            <li>
                                Ability to see more details about on newly listed facilities and the
                                borrower before they decide to make a fund.
                            </li>
                            <li>Ability to check the portfolio performance.</li>
                            <li>Can search and manage funded facilities easier.</li>
                            <li>
                                A clear repayment schedule so they can see when and how much money
                                they will receive.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="border-t border-dashed"></div>
    <!-- Sec 3: build the app -->
    <div class="flex flex-col gap-20">
        <div class="typo-subtlest text-light-subtlest text-center">Solutions</div>
        <!-- design system -->
        <div class="flex flex-col gap-aSectionContentGap">
            <p class="typo-heading-medium">Revamp the User Interface and Design System</p>
            <div class="flex flex-col gap-paragraphGap">
                <div class="flex flex-col gap-2">
                    <p class="typo-subtlest text-light-subtlest">Why need a Design System?</p>
                    <ul class="flex flex-col gap-1 list-disc list-outside pl-3">
                        <li>
                            The old design looks outdated or no longer reflects Validus's brand.
                            Therefore, we decided to create an new design that give a fresh look to
                            the app and help improve user engagement.
                        </li>
                        <li>
                            To set a standard design, maintain the consistency and manage it at
                            scale for 3 products for total 3 markets.
                        </li>
                    </ul>
                </div>
                <div class="flex flex-col gap-2">
                    <p class="typo-subtlest text-light-subtlest">The focuses:</p>
                    <ul class="flex flex-col gap-2 list-disc list-outside pl-3">
                        <li>
                            <span class="font-semibold">UI componens:</span> Build scalable components
                            and create the guideline how to use them.
                        </li>
                        <li>
                            <span class="font-semibold">Icons, illustration:</span> Create a library
                            for icons and illustration that can be updated and extended easily.
                        </li>
                        <li>
                            <span class="font-semibold">Copy writting:</span> there was feedback from
                            the User Research that the copy was not intuitive for users to understand.
                            Hence we went through the copywriting of each label, make sure it's meaningful
                            and help Investor clearly understand what is it about. We also add tooltip
                            or description alongside special labels to avoid the confusion.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- new features -->
        <div class="flex flex-col gap-aSectionContentGap">
            <p class="typo-heading-medium">Key additional features</p>
            <ul class="list-disc list-inside flex flex-col gap-1">
                <li>More details on the newly listed facilities</li>
                <li>Improving the fund process.</li>
                <li>Portfolio tracking and repayment schedule</li>
                <li>Find funded facilities easier with search and filter</li>
                <li>New Overview page provide insight on the Portfolio performance</li>
            </ul>
        </div>
    </div>

    <div class="border-t border-dashed"></div>
    <!-- Sec 4: Feature details -->
    <div class="flex flex-col gap-20">
        <p class="typo-subtlest text-light-subtlest text-center">Feature details</p>
        <!-- feature 01 -->
        <div class="flex flex-col gap-aSectionContentGap">
            <p class="typo-heading-medium">Navigation</p>
            <div class="flex flex-col gap-paragraphGap">
                <div class="flex flex-col gap-1">
                    <p class="typo-subtlest text-light-subtlest">Problems:</p>
                    <p>
                        The old menu grouped all facilities by status and placed them right in the
                        main menu which wasn't well-structured.
                    </p>
                </div>
                <div class="flex flex-col gap-1">
                    <p class="typo-subtlest text-light-subtlest">Design solution:</p>
                    <p>
                        To help Investors access and mange all their portfolio faster, we moved all
                        facilities into 1 place and keep them group by status as the same before to
                        maintain
                    </p>
                </div>

                <ImageCard
                    imagePath="/src/assets/investorapp/navigation.png"
                    altText="Screenshot from Miro to show a sitemap of old and new navigation"
                    padding="pt-4"
                />
                <ImageCard
                    imagePath="/src/assets/investorapp/navigation-2.png"
                    altText="New navigation wireframe"
                    padding="pb-4"
                />
            </div>
        </div>
        <!-- feature 02 -->
        <div class="flex flex-col gap-aSectionContentGap">
            <p class="typo-heading-medium">Overview of the account</p>
            <div class="flex flex-col gap-paragraphGap">
                <!-- problems -->
                <div class="flex flex-col gap-1">
                    <p class="typo-subtlest text-light-subtlest">Problems:</p>
                    <p>
                        Account summary was presented as Snapshot, in table style with the use of
                        icons conveyed misleading and incorrect messages.
                    </p>
                </div>
                <ImageCard
                    imagePath="/src/assets/investorapp/old-overview.png"
                    altText="Screenshot of old Overview screen, called Snapshot"
                    padding="pt-4"
                />
                <!-- typo-red listing -->
                <div class="flex flex-col gap-3 pb-4">
                    <!-- Row 1 -->
                    <div class="flex flex-row gap-3 text-subtlest">
                        <!-- card left -->
                        <div class="flex-1 p-4 bg-pink-100 rounded">
                            <p class="font-semibold">1. General issues</p>
                            <p>
                                Common issues can be seen as: visual hierarchy, color coding,
                                alignment, interactivity... The Snapshot screen makes it challenging
                                for investors to easily understand and capture their account
                                summary.
                            </p>
                        </div>
                        <!-- card right -->
                        <div class="flex-1 p-4 bg-pink-100 rounded">
                            <p class="font-semibold">2. Misleading icons</p>
                            <p>
                                The icons used are typically universally recognized as collapse and
                                expand symbols. However, in this context, the "plus" and "minus"
                                icons were intended to represent money inflows and outflows for
                                Investors.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- solution -->
                <div class="flex flex-col gap-1">
                    <p class="typo-subtlest text-light-subtlest">Design solution:</p>
                    <ul class="flex flex-col gap-1 list-disc list-outside pl-3">
                        <li>
                            Re-organize the information structure to enhance visual hierarchy and
                            incorporating data visualization for better clarity and engagement.
                        </li>
                        <li>
                            Add tooltip to explain some terms that may not be immediately understood
                            by all Investors.
                        </li>
                        <li>
                            Include a chart to visualize the portfolio allocation, and show more
                            other data which requested by Investor to enable them see their
                            portfolio diversification.
                        </li>
                    </ul>
                </div>
                <video class="h-full w-full rounded py-4" autoplay loop>
                    <source src="/videos/overview.mp4" type="video/mp4" />
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <!-- feature 03: facilities browsing -->
        <div class="flex flex-col gap-aSectionContentGap">
            <p class="typo-heading-medium">Facilities browsing</p>
            <div class="flex flex-col gap-paragraphGap">
                <p>
                    Live Facilities is the place where Investors can view all listed facilities
                    available for funding. The details on the facilities help them gain more
                    information of the loan in order to reach an investment decision.
                </p>

                <!-- problems -->
                <div class="flex flex-col gap-paragraphGap">
                    <div class="flex flex-col gap-1">
                        <p class="typo-subtlest text-light-subtlest">Problems:</p>
                        <p>
                            A facility only showed basic information which doesn't really help the
                            Investors in determining the profile of the borrower.
                        </p>
                    </div>
                    <ImageCard
                        imagePath="/src/assets/investorapp/old-livefacilities.png"
                        altText="Old design of Live Facilities"
                        padding="pt-4"
                    />
                    <!-- typo-red listing -->
                    <div class="flex flex-col gap-3 pb-6 text-subtlest">
                        <!-- Row 1 -->
                        <div class="flex flex-row gap-3">
                            <!-- card left -->
                            <div class="flex-1 h p-4 bg-pink-100 rounded">
                                <p class="font-semibold">1. Lack of facilities information.</p>
                                <p>
                                    Display only the loan ID, requested fund, and status, with no
                                    indication that users can tap for more details.
                                </p>
                            </div>
                            <!-- card right -->
                            <div class="flex-1 p-4 bg-pink-100 rounded">
                                <p class="font-semibold">2. Insured facility</p>
                                <p>
                                    Insured facilities were marked in yellow which did not
                                    effectively convey a sense of security and assurance.
                                </p>
                            </div>
                        </div>
                        <!-- Row 2 -->
                        <div class="flex flex-row gap-3">
                            <!-- Card left -->
                            <div class="flex-1 p-4 bg-pink-100 rounded">
                                <p class="flex-1 font-semibold">3. Facilities status</p>
                                <p>
                                    Are shown in red, making it difficult to distinguish between the
                                    different statuses.
                                </p>
                            </div>
                            <!-- Card right -->
                            <div class="flex-1 p-4 bg-pink-100 rounded">
                                <p class="font-semibold">4. Facilities details</p>
                                <p>Did not include enough information about the borrower</p>
                            </div>
                        </div>
                    </div>
                    <!-- solution -->
                    <div class="flex flex-col gap-1">
                        <p class="typo-subtlest text-light-subtlest">Design solution:</p>
                        <p>
                            More information about the facility added in the front. Card design
                            helps to display and organize details better.
                        </p>
                    </div>
                    <ImageCard
                        imagePath="/src/assets/investorapp/new-livefacilities.png"
                        altText="New design of Live Facilities"
                        padding="py-4"
                    />

                    <div class="flex flex-col gap-paragraphGap">
                        <p>
                            Investor can tap on "View details" to see more information about the
                            loan, the borrower and their funding history with this borrower on the
                            subsequence screen.
                        </p>
                    </div>
                    <video class="h-full w-full rounded py-4" autoplay loop>
                        <source src="/videos/facility-info.mp4" type="video/mp4" />
                        Your browser does not support the video tag.
                    </video>
                    <div class="flex flex-row gap-6 text-subtlest">
                        <!-- card left -->
                        <div class="flex-1">
                            <div class="flex flex-col gap-1">
                                <img class="w-5 h-5" src="/icon-check.svg" />
                                <p class="font-semibold">More data, better investment decision</p>

                                <p>
                                    Additional information requested by the investor during the
                                    interview was incorporated into the design both on the front and
                                    in the detail screen, helping the investor gain a better
                                    understanding of the facilities.
                                </p>
                            </div>
                        </div>
                        <!-- card right -->
                        <div class="flex-1">
                            <div class="flex flex-col gap-1">
                                <img class="w-5 h-5" src="/icon-check.svg" />
                                <p class="font-semibold">Intuitive interface</p>

                                <p>
                                    Investors now can see the requested loan amount, funding
                                    progress, and other related information in the front. New design
                                    was easier for them to understand and navigate around.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- feature 04: Fund -->
        <div class="flex flex-col gap-aSectionContentGap">
            <p class="typo-heading-medium">Fund process</p>
            <div class="flex flex-col gap-paragraphGap">
                <!-- problems -->
                <div class="flex flex-col gap-1">
                    <p class="typo-subtlest text-light-subtlest">Problems:</p>
                    <p>
                        In the current flow, investors can fund a facility only by tapping the
                        'Fund' button on the facility details. After making a funding transaction, a
                        notification (both success and failure) appears as a snackbar, which does
                        not deliver an optimal user experience.
                    </p>
                </div>

                <!-- solution -->
                <div class="flex flex-col gap-1">
                    <p class="typo-subtlest text-light-subtlest">Design solution:</p>
                    <ul class="flex flex-col gap-1 list-disc list-outside pl-3">
                        <li>Add another entry point to encourage Investor making the fund</li>
                        <li>
                            Replace the snack bar notification by a full-screen confirmation screen
                            to display detailed information.
                        </li>
                    </ul>
                </div>
                <ImageCard
                    imagePath="/src/assets/investorapp/old-fund-flow.png"
                    altText="Old Fund flow"
                    padding="pt-4"
                />
                <ImageCard
                    imagePath="/src/assets/investorapp/fund.png"
                    altText="List of changes made to the fund flow"
                />
                <ImageCard
                    imagePath="/src/assets/investorapp/new-fund.png"
                    altText="New fund flow"
                />
                <ImageCard
                    imagePath="/src/assets/investorapp/confirmation-screen.png"
                    altText="Confirmation screen after make a fund to notify failure or success"
                />
            </div>
        </div>

        <!-- feature 05: Portfolio management -->
        <div class="flex flex-col gap-aSectionContentGap">
            <p class="typo-heading-medium">Portfolio Management</p>
            <div class="flex flex-col gap-paragraphGap">
                <!-- problems -->
                <div class="flex flex-col gap-1 pb-4">
                    <p class="typo-subtlest text-light-subtlest">Problems:</p>
                    <div class="flex flex-col gap-paragraphGap">
                        <p>
                            Given the nature of the facilities being very short term (typically 1-3
                            months maximum) and if the Users were very diversified in their
                            investments, they would have multiple facilities, perhaps in the
                            hundreds. Currently, users can only find a specific facility by
                            scrolling through 3 lists (Outstanding, Delayed, Closed) and searching
                            for the facility ID or fund amount. This process is time-consuming and
                            leads to investor dissatisfaction.
                        </p>

                        <div class="flex flex-col gap-4 py-4">
                            <ImageCard
                                imagePath="/src/assets/investorapp/3tabs.png"
                                altText="Screen shot of separated funded facilities that are stored in multiple places"
                            />
                            <p class="typo-tooltip text-light-subtlest">
                                To find a facility Investor need to look into those 3 tabs
                            </p>
                        </div>

                        <p>
                            Another pain point is that most feedback from Investor was that they
                            have no idea what's coming to due on their portfolio, when and how much
                            they can can expect to receive. This lead to frustration and decreased
                            the trust from them.
                        </p>
                    </div>
                </div>

                <!-- solution 01 -->
                <div class="flex flex-col gap-1 pb-4">
                    <p class="typo-subtlest text-light-subtlest">
                        Design solution 1: Portfolio Summary
                    </p>
                    <ImageCard
                        imagePath="/src/assets/investorapp/portfolio-summary.png"
                        altText="New design of portfolio summary"
                        padding="py-4"
                    />
                    <!-- cards -->
                    <div class="flex flex-row gap-6 text-subtlest">
                        <!-- card left -->
                        <div class="flex-1">
                            <div class="flex flex-col gap-1">
                                <img class="w-5 h-5" src="/icon-01.svg" />
                                <p class="font-semibold">Upcoming repayment</p>

                                <p>
                                    Provide investors with a quick and clear update on their
                                    expected returns, including the amount and due date. When they
                                    expand the can see up to 5 months upcoming repayment.
                                </p>
                            </div>
                        </div>
                        <!-- card right -->
                        <div class="flex-1">
                            <div class="flex flex-col gap-1">
                                <img class="w-5 h-5" src="/icon-02.svg" />
                                <p class="font-semibold">Upcoming repayment</p>
                                <p>
                                    Display a clear breakdown of amounts that are not yet due and
                                    those that are overdue, give investors a better understanding of
                                    their portfolio's status.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- solution 02 -->
                <div class="flex flex-col gap-1 pb-4">
                    <p class="typo-subtlest text-light-subtlest">
                        Design solution 2: Search and Filter
                    </p>
                    <div class="flex flex-col gap-paragraphGap">
                        <p>
                            The search function and filters allow investors to quickly and easily
                            zoom in on specific facilities to check for updates.
                        </p>
                        <p>
                            Investors can search for facilities by entering any keyword or facility
                            ID. They can use filters to narrow down results or combine both
                            functions for a faster and more efficient search.
                        </p>
                    </div>
                    <ImageCard
                        imagePath="/src/assets/investorapp/search.png"
                        altText="Design of new search tool with filters"
                        padding="py-4"
                    />
                    <video class="h-full w-full rounded py-4" autoplay loop>
                        <source src="/videos/filter.mp4" type="video/mp4" />
                        Your browser does not support the video tag.
                    </video>
                </div>

                <!-- solution 03 -->
                <div class="flex flex-col gap-1 pb-4">
                    <p class="typo-subtlest text-light-subtlest">
                        Design solution 3: Repayment Schedule
                    </p>
                    <div class="flex flex-col gap-paragraphGap">
                        <p>
                            One of the top User needs that we collected during the User Research was
                            the ability to view a detailed repayment schedule after funding a
                            facility. This would have provided them with the expected due date and
                            amount due for each facility.
                        </p>
                        <ImageCard
                            imagePath="/src/assets/investorapp/repayment-schedule.png"
                            altText="Design shows a list of repayment schedule"
                            padding="py-4"
                        />
                        <p>
                            For Overdue facilities, we added Collection notes section, to keep
                            investors informed with updates from the Collection team regarding
                            collection details
                        </p>
                        <ImageCard
                            imagePath="/src/assets/investorapp/collection-note.png"
                            altText="Design shows collection notes"
                            padding="py-4"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</BlogLayout>
