---
import BlogLayout from "../../layouts/BlogLayout.astro";
---

<BlogLayout
    pageTitle="Investor App - Trang Bui"
    blogTitle="Investor App Revamp"
    headDescription="Validus Capital - 2022"
>
    <!-- case studies content -->
    <div class="border-t border-dashed"></div>
    <div class="flex flex-col gap-20">
        <!-- project overview -->
        <div class="flex flex-col gap-aSectionContentGap articleBodyParagraph">
            <p class="articleH5">Intro</p>
            <div class="flex flex-col gap-paragraphGap">
                <p>
                    Validus Investor is a mobile application helps Investor
                    monitors portfolios, views listed facilities from borrower
                    (Small and Medium Enterprises - SMEs), and makes
                    investments.
                </p>
                <p>
                    Goal of this project is to improve navigation, and introduce
                    modern, intuitive features for seamless investing on the go
                </p>

                <div class="flex flex-row gap-6 pt-5">
                    <div class="flex-1">
                        <p class="aLabel">Role</p>
                        <p>Lead Designer</p>
                    </div>
                    <div class="flex-1">
                        <p class="aLabel">Duration</p>
                        <p>6 months</p>
                    </div>
                    <div class="flex-1">
                        <p class="aLabel">Market</p>
                        <p>Singapore</p>
                    </div>
                </div>

                <img
                    class="py-4"
                    src="/src/pages/portfolio/images/investorapp/final.png"
                />
            </div>
        </div>

        <!-- problems -->
        <div class="flex flex-col gap-aSectionContentGap articleBodyParagraph">
            <p class="articleH5">Problems</p>
            <div class="flex flex-col gap-paragraphGap">
                <p>
                    High churn rate. Most of customer install the app but
                    discontinue using it due to the <span class="textHlight"
                        >unfriendly interface</span
                    > and <span class="textHlight"
                        >lack of essential functionalities</span
                    > for them to browse new facilities and track their funds effectively.
                </p>
                <div class="flex flex-col gap-4 py-4">
                    <img
                        src="/src/pages/portfolio/images/investorapp/old-design.png"
                    />
                    <p class="articleH6">Investor app, old interface</p>
                </div>
            </div>
        </div>

        <!-- solution -->
        <div class="flex flex-col gap-aSectionContentGap articleBodyParagraph">
            <p class="articleH5">Final Solution</p>
            <div class="flex flex-col gap-paragraphGap">
                <p>
                    Refresh the app by <span class="textHlight"
                        >creating new and engaging interface</span
                    >. The old design was no longer reflects Validus's brand,
                    therefore, to set a standard design, maintain the
                    consistency and manage it at scale, we decided to create a
                    Design System along with the app designs.
                </p>
                <div class="flex flex-col gap-2">
                    <p>
                        <span class="textHlight">Add essential features</span> to
                        the app to enhance its functionality, make it more useful
                        for customer:
                    </p>
                    <ul class="list-disc list-inside flex flex-col gap-1">
                        <li>More details on the newly listed facilities</li>
                        <li>Improving the fund process.</li>
                        <li>
                            Portfolio tracking with more details and repayment
                            schedule
                        </li>
                        <li>
                            Find funded facilities easier with search and filter
                        </li>
                        <li>
                            New Overview page provide insight on the Portfolio
                            performance
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- deliver -->
        <div class="flex flex-col gap-aSectionContentGap articleBodyParagraph">
            <p class="articleH5">Key deliver</p>
            <ul class="flex flex-col gap-1 list-disc list-inside">
                <li>Conducted User Research, collect User Feedback</li>
                <li>Released Investor App version 2</li>
                <li>Created Validus Mobile Design system</li>
            </ul>
        </div>

        <!-- impact -->
        <div class="flex flex-col gap-aSectionContentGap articleBodyParagraph">
            <p class="articleH5">Impact</p>
            <p>
                New app received good feedback from Customer, <span
                    class="textHlight">improved their experience</span
                > with Validus products. Now Investor can easily make fund for new
                facilities, search their funds and keep track of the repayment.
            </p>

            <p>
                The user study conducted during the app's rebuild provided
                valuable insights into customer pain points and expectations,
                helped the company's management to see <span class="textHlight"
                    >the importance of doing User Research</span
                >.
            </p>
        </div>
    </div>

    <div class="border-t border-dashed"></div>
    <!-- review existing product -->
    <div class="flex flex-col gap-aSectionContentGap articleBodyParagraph">
        <p class="articleH5">Review existing product</p>
        <p>
            Within a team consisting of the Product Manager and myself, we
            reviewed the existing app by putting our review note and user
            feedback on the screenshots taken from the mobile app.
        </p>
        <img src="" />
        <p>
            After the review, we listed down all the issues, put them into
            groups, and see where we could improve the overall experience of the
            app.
        </p>
        <p>
            We did few brain storming sessions and quickly came up with some
            concepts and ideas then spent next few days to create a prototype in
            Figma that we will use it to test with our customer.
        </p>
    </div>

    <!-- user research -->
    <div class="flex flex-col gap-aSectionContentGap articleBodyParagraph">
        <p class="articleH5">User research - Test ideas and solution</p>
        <p>
            With the help of the Investor Relations team (the team that manages
            the communication between the company and Investors), about 10-12
            Investors who actively used the platform and the app, accepted our
            invitation to join the User Study.
        </p>
        <p>
            We combined a few methods for this research including Usability
            Testing and Qualitative Interview. The goal is to verify our draft
            design solutions and uncover any new problems.
        </p>.
    </div>
</BlogLayout>
